h1{
    text-align: center;
    margin: 10px 0;
    padding-bottom: 10px;
    color: #252536;
    border-bottom: 3px solid #78788c
}
@media (min-width: 768px){
    full-calendar{
        text-align: center;
        margin: 5rem;
        padding: 3rem;
    }
}
@media (max-width: 767.98px){
    full-calendar{
        text-align: center;
        width: 97.25%;
        margin: 0.75rem;
        padding: 1.5rem;
        overflow-x: auto;
    }
}
table{
    width: 100%;
}