<h2>Ingresa tus datos para reservar</h2>
<h4>Es obligatorio llenar todos los espacios</h4>

<form [formGroup]="formularioAlta" (ngSubmit)="nuevoCliente()" class="formularioCss">
  <p>Nombre:
    <input type="text" formControlName="nombre" [(ngModel)]="cliente.nombre" required>
    <span *ngIf="this.formularioAlta.get('nombre')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>
    <span *ngIf="this.formularioAlta.get('nombre')?.errors?.['minlength']">
      <div class="alert alert-danger">Por lo menos debe contener 3 caracteres</div>
    </span>
  </p>
  <p>Apellido:
    <input type="text" formControlName="apellido" [(ngModel)]="cliente.apellido" required>
    <span *ngIf="this.formularioAlta.get('apellido')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>

    <span *ngIf="this.formularioAlta.get('apellido')?.errors?.['minlength']">
      <div class="alert alert-danger">Por lo menos de contener 4 caracteres</div>
    </span>
  <p>No. Celular:
    <input type="tel" formControlName="telefono" [(ngModel)]="cliente.nTel" required>
    <span *ngIf="this.formularioAlta.get('telefono')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>

    <span *ngIf="this.formularioAlta.get('telefono')?.errors?.['minlength']">
      <div class="alert alert-danger">Por lo mneos debe de tener 10 numeros</div>
    </span>

  <p>Habitacion:
    <input type="number" formControlName="habitacion" [(ngModel)]="cliente.habitacion" required>
    <span *ngIf="this.formularioAlta.get('habitacion')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>
    <span *ngIf="this.formularioAlta.get('habitacion')?.errors?.['max']">
      <div class="alert alert-danger">Solo hay 50 habitaciones</div>
    </span>
    <span *ngIf="comprobar(cliente.habitacion); else error">
      <h5>Habitacion ocupada</h5>
    </span>
    <ng-template #error>
      <h5>Habitacion libre</h5>
    </ng-template>
  </p>
  <p>No. Personas:
    <input type="number" formControlName="personas" [(ngModel)]="cliente.nPersona" required>
    <span *ngIf="this.formularioAlta.get('personas')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>
    <span *ngIf="this.formularioAlta.get('personas')?.errors?.['max']">
      <div class="alert alert-danger">Solo 4 personas por habitacion</div>
    </span>
  </p>
  <p>Correo:
    <input type="text" formControlName="mail" [(ngModel)]="cliente.correo" required>
    <span *ngIf="this.formularioAlta.get('mail')?.errors?.['required']">
      <div class="alert alert-danger">El campo es requerido</div>
    </span>
    <span *ngIf="this.formularioAlta.get('mail')?.errors?.['email']">
      <div class="alert alert-danger">El correo no es valido</div>
    </span>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Elige una fecha</mat-label>
      <input formControlName="fecha" matInput [matDatepicker]="picker" [(ngModel)]="cliente.fecha" (dateChange)="onDateChange($event)" required>
        <span *ngIf="this.formularioAlta.get('fecha')?.errors?.['required']"></span>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      
      
    </mat-form-field>
   
    
    <br>
    Elija una hora:
    <input class="form-control" type="time" [(ngModel)]="cliente.hora" (input)="onTimeInput($event)" value="15:00" required>

    <span *ngIf="combrobarfechas(); else otro">
      <h5>La fecha o la hora seleccionada no es valida ya sea por que no existe o ya este uan reservacion en ella</h5>
    </span>
    <ng-template #otro>
      <h5>Buena seleccion</h5>
    </ng-template>
  </p>

  <button type="submit" (click)="this.nuevoCliente()">Confirmar</button>

</form>

