<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../assets/favicon.ico" alt="" style="width: 30px; height:40px; margin-left: 1rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-sm btn-outline-success" style="margin: 1rem; padding:0.5em;"routerLink="/Inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-primary" style="margin: 1rem; padding:0.5em;" routerLink="/Mostrar">Habitaciones reservadas</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-outline-primary" style="margin: 1rem; padding:0.5em;" routerLink="/Capturar">Realizar reservacion</a>
          </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-outline-primary" style="margin: 1rem; padding:0.5em;" routerLink="/Acerca">Acerca de la pagina</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar" style="padding-right: 1erm;">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>