
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container-fluid" style="margin-left: 20px;">
        <p style="color:wheat;font-family: 'Times New Roman', Times, serif;">Hotel QuintaReal 
            <a href="#"><img class="logo" src="../../assets/favicon.ico" alt=""></a>
        </p>
       
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle 
          navigation" style="margin-right: 10%;">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="nav-links navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/alta">Reservar habitacion</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/lista">Consultar Reservas</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/acerca">Acerca del hotel</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contacto">Contacto</a></li>
                <li class="nav-item"><a class="nav-link" (click)="toggleGrayscale()" >Escala Grises</a></li>
                <li class="nav-item"><a class="nav-link" (click)="highlightLinks()" >Resaltar</a></li>
                <li class="nav-item"><a class="nav-link" (click)="toggleCursorSize()">Cambiar Cursor</a></li>
                <li class="nav-item"><img class="nav-link" (click)="speakText()" src="assets/img/play.png" alt="" width="25px" height="25px"></li>
                <li class="nav-item"><img class="nav-link" (click)="pause()" src="assets/img/pause.png" alt="" width="25px" height="25px"></li>
                <li class="nav-item"><img class="nav-link" (click)="resume()" src="assets/img/reanudar.png" alt="" width="25px" height="25px"></li>
                <li class="nav-item"><img class="nav-link" (click)="stop()" src="assets/img/stop.png" alt="" width="25px" height="25px"></li>
           </ul> 
           
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Accion 1</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          
           <div class="buscar"> 
            
              <input  class="form-control me-2" type="text" placeholder="Buscar reservacion" [(ngModel)]="texto" requered/>
              <button class="btn" style="margin-right: 5%; margin-bottom: 50%;" (click)="buscar()">
                <i class="fas fa-search icon"></i>
              </button>
            </div>  
          </div>
        </div>
    </nav>
  
    <div *ngIf="bandera; else error" class="container position-relative">
      
      <div class="d-flex justify-content-center">
        
        <div class="card" style="width: 25rem; margin:10px;">
          <button class="btn-close position-absolute top-0 end-0" (click)="cerrar()"></button>
          <div class="card-header">
            
            <h2 class="card-title text-center font-weight-bold" style="font-family: 'Arial', sans-serif;">Información de la reservación</h2>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="font-weight-bold">Nombre:</span> {{clientes[posicion].nombre}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Apellidos:</span> {{clientes[posicion].apellido}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">No. Habitación:</span> {{clientes[posicion].habitacion}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Correo:</span> {{clientes[posicion].correo}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">No. Personas:</span> {{clientes[posicion].nPersona}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Fecha de reservación:</span> {{clientes[posicion].fecha}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Hora de reservación:</span> {{clientes[posicion].hora}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  <ng-template #error>

  </ng-template>